<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.itu.mmad.bikeshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.ListTransactionsActivity"
            android:parentActivityName=".controller.BikeShareActivity" />
        <activity android:name=".controller.TopUpActivity"
            android:parentActivityName=".controller.BikeShareActivity" />
        <activity android:name=".controller.ListBikesActivity"
            android:parentActivityName=".controller.BikeShareActivity" />
        <activity android:name=".controller.RegisterBikeActivity"
            android:parentActivityName=".controller.BikeShareActivity"/>
        <activity android:name=".controller.RideDetailActivity"
            android:parentActivityName=".controller.BikeShareActivity"/>
        <activity android:name=".controller.EndRideActivity"
            android:parentActivityName=".controller.BikeShareActivity"/>
        <activity android:name=".controller.StartRideActivity"
            android:parentActivityName=".controller.BikeShareActivity"/>
        <activity android:name=".controller.BikeShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dk.itu.mmad.bikeshare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>